body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url(https://100daysregister.my.canva.site/vivero/images/5ee7ca51c7733e69b0c7b3dbfe02b71a.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Nav Bar */
.navbar-nav {
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
}

.navbar {
  --bs-navbar-hover-color: white;
}

.color-navbar {
  background-color: a(143, 132, 126);
  border-bottom: solid black 00.1rem;
}

/* First Section */

/* Catalogue  */

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card {
  background-color: rgba(143, 132, 126);
  width: 100%;
  height: 70%;
}

.card-img-top {
  height: 50%;
}

.btn {
  border-radius: 33%;
  background-color: rgb(214, 236, 208, 0.6);
  box-shadow: 3px +3px 9px 0px rgba(48, 54, 47, 0.4);
}

.display-5 {
  font-size: 14pt;
  color: #000;
}

.card-title {
  font-size: 12pt;
}

/* Second Section */

.accordion-button {
  font-size: 1.5rem;
}

.accordion-button {
  background-color: rgba(143, 132, 126, 0.509);
}

.accordion-item {
  color: var(--bs-accordion-color);
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 1rem solid rgb(0, 0, 0, 0);
}

.accordion-button:focus {
  z-index: 3;
  outline: 0;
  box-shadow: none;
}

/* Footer */
footer {
  height: 80px;
}

/* Media */

@media (max-width: 1400px) {
  .card {
    width: 90%;
    height: 70%;
  }

  .card-img-top {
    height: 50%;
  }
}

@media (max-width: 1024px) {
  .card {
    width: 100%;
    height: 90%;
  }

  .card-img-top {
    height: 45%;
  }

  .card-title {
    font-size: 9pt;
  }
}

@media (max-width: 768px) {
  .card {
    height: 90%;
    height: 75%;
  }

  .card-img-top {
    height: 50%;
  }
}

@media (max-width: 480px) {
  .card {
    height: 70%;
    width: 100%;
  }

  .card-img-top {
    height: 40%;
  }

  .card-title {
    font-size: 9pt;
  }

  .fin {
    background-color: rgba(143, 132, 126);
    width: 90%;
    height: 70%;
  }
}
